{
    "discord" : {
        "token" : "",
        "annChannel" : "",
        "rulesChannel" : "",
        "officerChannel" : ""
    },

    "twitter" : {
        "cKey" : "",
        "cSecret" : "",
        "tKey" : "",
        "tSecret" : ""
    },

    "guildReset" : 2030,

    "help" : {
        "dailies" : "I list the current guild activity and the next one to coming up.",
        "ch" : "Put a character's name after '/ch' and I'll look up the character info on swgoh.gg.",
    }
}
