{
    "discord" : {
        "token": "",
        "rulesChannel": ""
    },

    "guildReset": 2030,

    "help": {
        "dailies": "I list the current guild activity and the next one that's coming up.",
        "ch": "Put a character's name after `/ch` and I'll look up the character info on swgoh.gg and give you a link to it.",
        "convert": "Type the percent or damage, raid (ie: pit or rancor), and phase (ie: p1 or phase1) and I'll convert that into either the amount of damage you've done or the percent amount that you need to do. *Remember, to convert percent into damage, you need to include `% or percent` in the command.*",
        "rules": "If you need, I'll lay down the law!",
        "no": "I'll leave an obvious gif of a famous exclimation. **YEEEEEESSSSSS!!!!** It's exactly what you're thinking.",
        "yes": "A gif in the most joyous of moments.",
        "help": "*I think this is the definition of a feedback look.* If you type `/help`, I'll list a bunch of commands I respond to.",
        "name": "Who told you my name?!",
        "time": "Bet you couldn't guess that I told you the time if you typed `/time`!"
    }
}
